/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-hic Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {
    // Input options
    input = null
    fasta = null
    bwa_index = null
    chrom_sizes = null
    aligner = 'bwa'

    // References
    genome = null
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore = false

    // Hi-C options
    bin_size = 1000
    min_mapq = null
    balance = true
    balance_args = ''
    resolutions = '1000,2000,5000,10000,25000,50000,100000,250000,500000,1000000,2500000,5000000,10000000'
    max_mismatch = 1

    // Boilerplate options
    outdir = 'results'
    publish_dir_mode = 'copy'
    monochrome_logs = false
}

process.shell = [
    'bash',
    '-C',       // No clobber
    '-e',       // Exit on non-zero
    '-u',       // Error on unset variables
    '-o',       // Set pipefail
    'pipefail',
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

includeConfig 'conf/base.config'

// Load igenomes.config unless ignored
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

profiles {
    debug {
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled = true
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }
}

manifest {
    name = 'nf-hic'
    description = 'Minimal 4DN-style Hi-C pipeline (bwa/bwa-mem2 + pairtools + cooler)'
    mainScript = 'main.nf'
    nextflowVersion = '!>=25.10.0'
    version = '0.1.0'
}

plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes", "igenomes_base"]
}

includeConfig 'conf/modules.config'
